<div class="container comp" >

  <!--  Öffentliches Panel-->
  <div class="public-panel" *ngIf="!adminSignedIn && !coordinatorSignedIn">
    <h2 class="font-weight-bold  text-md-center p-4 mb-5 rounded text-white d-comp w-100">D-Comparison</h2>
    <div class="title">
      <h2 class="mc"><span>E = mc²</span></h2>
    </div>
    <!-- Login-Button vor Anmeldung -->
    <button class="btn-login btn btn-primary mt-1 w-auto sub" (click)="showLogin = true" *ngIf="!adminSignedIn">Sign In</button>
  </div>

  <!--  Login-Popup-->
  <div class="modal-overlay" *ngIf="showLogin">
    <div class="modal-content">
      <h3>Sign In</h3>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div>
          <label for="username">Username:</label>
          <input id="username" type="text" name="username" required [(ngModel)]="username" #usernameInput="ngModel">
          <div class="error" *ngIf="usernameInput.invalid && usernameInput.touched">Username is required.</div>
        </div>
        <div>
          <label for="password">Password:</label>
          <input id="password" type="password" name="password" required [(ngModel)]="password" #passwordInput="ngModel">
          <div class="error" *ngIf="passwordInput.invalid && passwordInput.touched">Password is required.</div>
        </div>
        <div class="button-row">
          <button type="submit" class="btn btn-primary w-auto sub" [disabled]="loginForm.invalid">Sign in</button>
          <button type="button" class="btn btn-primary w-auto sub" (click)="showLogin = false">Cancel</button>
        </div>
        <div >
          <p class="mt-3">No account yet? <a href="#" (click)="showRegister = true; showLogin = false">Send registration request</a></p>
        </div>

      </form>
    </div>
  </div>

  <!--Register-Pop-Up-->
  <div class="modal-overlay" *ngIf="showRegister">
    <div class="modal-content">
     <h3>Sign up</h3>
      <form (ngSubmit)="onRegisterSubmit()" #registerForm="ngForm">
        <div>
          <label for="firstName">Vorname:</label>
          <input id="firstName" type="text" name="firstName" required [(ngModel)]="registerData.firstName" #firstNameInput="ngModel">
          <div *ngIf="firstNameInput.invalid && firstNameInput.touched" class="error">Vorname ist erforderlich.</div>
        </div>
        <div>
          <label for="lastName">Nachname:</label>
          <input id="lastName" type="text" name="lastName" required [(ngModel)]="registerData.lastName" #lastNameInput="ngModel">
          <div *ngIf="lastNameInput.invalid && lastNameInput.touched" class="error">Nachname ist erforderlich.</div>
        </div>
        <div>
          <label for="company">Unternehmen:</label>
          <input id="company" type="text" name="company" required [(ngModel)]="registerData.company" #companyInput="ngModel">
          <div *ngIf="companyInput.invalid && companyInput.touched" class="error">Unternehmen ist erforderlich.</div>
        </div>
        <div>
          <label for="email">E-Mail:</label>
          <input id="email" type="email" name="email" required [(ngModel)]="registerData.email" #emailInput="ngModel">
          <div *ngIf="emailInput.invalid && emailInput.touched" class="error">E-Mail-Adresse ist erforderlich.</div>
        </div>

        <button type="submit" class="btn btn-primary w-auto sub" [disabled]="!registerForm.valid">Senden</button>
        <button type="button" class="btn btn-primary w-auto sub" (click)="showRegister = false">Abbrechen</button>
      </form>
    </div>
  </div>

  <!-- Admin-Panel Tabs -->
  <div class="admin-pan mb-5" *ngIf="adminSignedIn">
    <h2 class=" header-with-logout font-weight-bold text-md-center p-4 text-white d-comp w-100">
      <span class="mr-5">Admin-Panel ({{username}})</span>
      <button class="logout-btn" (click)="onLogout()">Logout</button>
    </h2>
    <div class="panel-nav">
      <nav>
        <ul class="nav-list">
          <li class="nav-item" (click)="onEvaluate()" [ngClass]="{ 'active': evaluateActive }">Evaluate</li>
          <li class="nav-item" (click)="onDccList()"  [ngClass]="{ 'active': dccListActive }">DCC-List</li>
          <li class="nav-item" (click)="onUserList()" [ngClass]="{ 'active': userListActive }">User-List</li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- Koordinator-Panel-Tabs -->
  <div class="coordinator-pan mb-5" *ngIf="coordinatorSignedIn">
    <h2 class=" header-with-logout font-weight-bold text-md-center p-4 text-white d-comp w-100">
      <span class="mr-5">Coordinator-Panel ({{username}})</span>
      <button class="logout-btn" (click)="onLogout()">Logout</button>
    </h2>
    <div class="panel-nav">
      <nav>
        <ul class="nav-list">
          <li class="nav-item" (click)="onEvaluate()" [ngClass]="{ 'active': evaluateActive }">Evaluate</li>
          <li class="nav-item" (click)="onDccList()"  [ngClass]="{ 'active': dccListActive }">DCC-List</li>
        </ul>
      </nav>
    </div>
  </div>



  <section *ngIf="evaluateActive">
    <div *ngIf="participantFormGroup"> <!-- Formular wird nur angezeigt, wenn participantFormGroup-Objekt existiert -->
      <!--Reactive Form-->
      <form class="col card p-3 mt-3 mb-5" [formGroup]="participantFormGroup" (ngSubmit)="addParticipant()"> <!--Das Formular wird an ein Form-Group-Objekt in der Component-Klasse gebunden -->
        <div class="form-group mb-2">
          <legend>Participant:</legend>
          <label class="form-label" for="name"> Name:</label>
          <input id="name" formControlName="name" placeholder="Enter Name" type="text" class="form-control"/>
          <!-- Validierung -->
          <!--Zeigt eine Fehlermeldung, wenn das Feld ungültig ist und der Benutzer es schon bearbeitet hat.-->
          <small *ngIf="participantFormGroup.controls['name'].errors && participantFormGroup.controls['name'].touched"
                 class="text-danger">Name is required</small>
        </div>

        <div class="form-group mb-2" *ngIf="dccPidList$ | async as result" [ngSwitch]="result.dataState">
          <label class="form-label" for="pidDCC">PID DCC:</label>
          <input id="pidDCC" formControlName="pidDCC" class="form-control" type="text"
                 placeholder="Search or enter PID DCC" list="dccList" name="search" [(ngModel)]="searchText">

          <datalist id="dccList">
            <option *ngFor="let dccPid of result.data">{{dccPid}}</option>
          </datalist>
          <!-- Validierung -->
          <small
            *ngIf="participantFormGroup.controls['pidDCC'].errors && participantFormGroup.controls['pidDCC'].touched "
            class="text-danger">PID DCC is required</small>
        </div>
        <div class="col text-center">
          <button class="btn btn-primary mt-2 w-auto sub" [disabled]="this.participantFormGroup.invalid" type="submit">ADD
            PARTICIPANT
          </button>
        </div>
      </form>
    </div>


    <ng-container *ngIf="participants$ | async as result" [ngSwitch]="result.dataState"
                  class="container-fluid col card p-3 mt-5 mb-5">
      <ng-container *ngSwitchCase="DataStateEnum.LOADING">Loading...</ng-container>
      <ng-container *ngSwitchCase="DataStateEnum.ERROR">
        <div class="alert-danger">{{result.errorMessage}}</div>
      </ng-container>
      <ng-container *ngSwitchCase="DataStateEnum.LOADED">
        <div class=" card col p-3 mt-5 mb-5">
          <div class="card-header bg-light">Participant List</div>
          <div class="card-body">
            <table class="table table-striped table-bordered mb-xl-5">
              <thead>
              <tr>
                <th class="w-50">Name</th>
                <th class="w-50">PID DCC</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td *ngIf="!result.data?.length" colspan="5">Please add some Participants!</td>
              <tr *ngFor="let participant of result.data">
                <td>{{participant.name}}</td>
                <td>{{participant.pidDCC}}</td>
                <td>
                  <button style="background-color:#009cd1; border-color:#009cd1;" class="btn btn-danger"
                          (click)="onDeleteParticipant(participant)">
                    <span class="fa fa-trash-o"></span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <div>
      <div *ngIf="reportFormGroup">

        <form name="ReportForm" [formGroup]="reportFormGroup" class="col card p-3 mb-5" (ngSubmit)="addReport()">
          <div class="row ">
            <div class="row mb-3 m-lg-3">
              <legend>Report:</legend>
              <div class="col-sm-10 form-group ">
                <label for="pidReport" class="col-1 m-2"
                       style="font-weight:bold; display: inline "><span>PID Report:</span></label>
                <input type="text" formControlName="pidReport" id="pidReport" placeholder="CCM-K1">
                <small
                  *ngIf="reportFormGroup.controls['pidReport'].errors && reportFormGroup.controls['pidReport'].touched"
                  class="text-danger report">PID report is required</small>
                <select id="smartStandardEvaluationMethod" class="form-select-sm  border border-secondary rounded-0 "
                        formControlName="smartStandardEvaluationMethod" (change)="selectedEvalMethod($event)"
                        style=" margin:10px; width:20%">
                  <option value="" selected disabled>select evaluation method</option>
                  <!--                <option value = "energyComparison">E = mc²</option>-->
                  <option value="massIntercomparison">mass intercomparison</option>
                  <option value="radiationTempComparison">radiation temperature comparison</option>
                  <option value="laboratoryMedicineComparison">laboratory medicine comparison</option>
                  <div
                    *ngIf="reportFormGroup.controls['smartStandardEvaluationMethod'].errors && reportFormGroup.controls['smartStandardEvaluationMethod'].touched  "
                    class="text-danger report">evaluation method is required
                  </div>
                </select>
                <label for="destination" class=" col-form-label disabled m-1 "><span
                  style="font-weight:bold; ">Destination:</span></label>
                <input type="text" class="my-lg-2 m-1" id="destination" placeholder="filesystem" readonly/>
              </div>
            </div>
            <div class="col text-center form-group">
              <button [disabled]="this.reportFormGroup.invalid"
                      class="btn btn-danger" type="submit" (click)="onDownload()">
                EVALUATE COMPARISON
              </button>
            </div>
          </div>
        </form>
        <div class="col text-center form-group">
          <a class="btn btn-danger" type="submit"
             href="https://d-si.ptb.de/api/d-comparison/swagger-ui/index.html#" target="_blank">
            Swagger UI OpenAPI
          </a>
        </div>
      </div>
      <div>
      </div>
    </div>
  </section>



  <!--DCC-Liste-->
  <section class="dcc-list" *ngIf="dccListActive">
    <div>
<!--      <h2 >DCC-Liste</h2>-->
      <button class="btn btn-primary mt-1 w-auto sub" (click)="showDccUpload = true">&#8593; Upload DCC</button>
      <table class="panel-table mt-3">
        <thead >
          <tr>
            <th>ID</th>
            <th>Valid</th>
            <th>PID</th>
            <th>Status</th>
            <th>Rolle</th>
            <th>Base64XML</th>
            <th>Aktionen</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>4545684135484354879354</td>
            <td>valid</td>
            <td>Mass_Nist</td>
            <td>public</td>
            <td>admin</td>
            <td>fejergojOJROKGROGK'r</td>
            <td>
              <button class="btn-classic"  (click)="editDCC()">Edit</button>
              <button class="btn-classic"   (click)="deleteDCC()">Delete</button>
              <button class="btn-classic" (click)="viewXML()">XML</button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Pop-Up für DCC-Upload-->
      <div class="modal-overlay" *ngIf="showDccUpload">
        <div class="modal-content">
          <h2>Add new DCC </h2>
          <label>Valid: </label>
          <input type="text" id="dccValid">
          <label>PID: </label>
          <input type="text" id="dccPid">
          <label>Status: </label>
          <input type="text" id="dccStatus">
          <label>User-Role: </label>
          <input type="text" id="dccRolle">
          <label>XML: </label>
          <input type="file">
          <div class="button-row">
            <button class="btn btn-primary w-auto sub" (click)="onUploadDcc()">Upload</button>
            <button class="btn btn-primary w-auto sub" (click)="showDccUpload = false">Cancel</button>
          </div>
        </div>
      </div>

    </div>
  </section>



  <!--User-Liste-->
  <section class="user-list" *ngIf="userListActive">
<!--    <h2>User-List</h2>-->
    <button class="btn btn-primary mt-1 w-auto sub">+ Add User</button>
    <table class="panel-table mt-3">
      <thead>
        <tr>
          <th>User</th>
          <th>E-Mail</th>
          <th>User Role</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
        <tr>
          <td>Julian</td>
          <td>juls@web.de</td>
          <td>Admin</td>
          <td><button class="btn-classic">Active</button></td>
          <td>
            <button class="btn-classic">Edit</button>
            <button class="btn-classic">Delete</button>
          </td>
        </tr>
      <tbody>

      </tbody>
    </table>
  </section>
</div>









